version: '3.1'
services:
  emby2openlist:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - TZ=Asia/Shanghai
      - GIN_MODE=release
    container_name: emby2openlist
    restart: always
    volumes:
      # --- 核心配置 ---
      - /mnt/cache/appdata/emby2openlist/config.yml:/app/config.yml
      - /mnt/cache/appdata/emby2openlist/ssl:/app/ssl
      - /mnt/cache/appdata/emby2openlist/custom-js:/app/custom-js
      - /mnt/cache/appdata/emby2openlist/custom-css:/app/custom-css
      - /mnt/cache/appdata/emby2openlist/lib:/app/lib
      - /mnt/cache/appdata/emby2openlist/openlist-local-tree:/app/openlist-local-tree
      - /mnt/user/clouddrive2/CloudNAS:/mnt/user/clouddrive2/CloudNAS:shared
      - /mnt/user/embydata:/mnt/user/embydata:ro
    ports:
      - 8097:8095 # http
      - 8094:8094 # https
